---
layout: default
title: Baocheng Li
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Baocheng Li</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">李保成</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <!-- <a href="http://www.cs.cqu.edu.cn/">College of Computer Science</a><br/>
        <a href="http://english.cqu.edu.cn/">Chongqing University</a><br/> -->
    	Frontier Science and Technology Research Centre (as FST)<br/>
        Shenzhen Institutes of Advanced Technology,Chinese Academy of Sciences <!-- (<a href="http://http://www.nenu.edu.cn//">NENU</a>) --><br/>
        1068 Xueyuan Avenue, Shenzhen University Town, Shenzhen, P.R.China<br/>
<!--         <span style="font-size: 10px; font-style: italic; color: #999;">
        [ <a href="https://en.wikipedia.org/wiki/Project_211">Project 211</a> and 
        <a href="https://en.wikipedia.org/wiki/Project_985">Project 985</a> members ]<br/>
        [ Computer science of Chongqing University is the top 1% in the ESI ]<br/></span> -->
      </address>
    </div>
    <div class="col-sm-4">
      <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="https://neoli.top/">https://neoli.top</a><br/>
      <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:neoli1314@gmai.com">neoli1314@gmai.com</a><br/>
      <span class="glyphicon glyphicon-phone"></span> Phone: +86 152-0150-1314<br/>
    </div>
  </div>
</div>

<p>
<!-- <span style="color: #527bbd;"><strong>Welcome Yongbo's homepage.</strong></span> -->
<div style="text-align: center;color: #333!important;width: 100%;"><h4>Welcome!</h4></div>
</p>

<h4>Biography</h4>
<p>
Currently, I am a visiting student in the AI&amp;NLP team in SIAT, <a href="http://www.cas.cn">Chinese Academy of Sciences</a>, under the supervision of Prof. <a href="http://minyang.me">Min Yang</a> since November 2017. Meanwhile,  I am a second-year graduate student at <a href="http://www.nenu.edu.cn/">NENU</a>, under the supervision of Prof. <a href="http://js.nenu.edu.cn/teacher/index.php?zgh=2004900002">Xiaojuan Zheng</a> . I am pursuing my Master of Engineering degree in Software Engineering. Previously, I received my bachelor degree of Software Engineering at <a href="https://www.jlu.edu.cn/">Jilin University</a>, Changchun in June, 2015.
</p>
<p>
	Please refer to <a href="CV/CV_li.pdf"><strong class="color-blue-line">Resume/CV</strong></a> for more detail.
</p>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<!-- <blockquote>
  <span style="font-size: 10px; font-style: italic; color: #999;">
    <i>
      Although I majored in Cloud Computing during my master's degree, I have a strong interest in Natural Language Processing and Machine Learning, and have been working the Machine Learning & NLP group of 
      <a href="http://www.aitech.xin">Aizhihui Technology Co., Ltd.</a> as an 
      <strong class="color-blue">intern for over one year</strong> 
      in Shenzhen, China. During my internship, I have done much research work on the topics of it.
    </i>
  </span>
</blockquote> -->
<ul>
  <li>Natural Language Processing</li>
  <li>Deep Learning</li>
  <li>Data Mining</li>
</ul>


<div class="solid-line"></div>
<h4>Education</h4>
<ul>
  <li>
    <strong>Master</strong> | 
    <span>
    School of Information Science and Technology, Northeast Normal University
    </span>, 
    2016 - 2019<br/>
    Software Engineering<br />
    Supervisor: Prof. <a href="http://js.nenu.edu.cn/teacher/index.php?zgh=2004900002">Xiaojuan Zheng</a> 
  </li>
  <li>
    <strong>Bachelor</strong> | 
    <span>
        School of Software Technology, 
        Jilin University

    </span>, 
    2011 - 2015<br/>
    Software Engineering
  </li>
</ul>

<div class="solid-line"></div>
<h4>Publications</h4>
<!-- <blockquote>
  <span style="font-size: 10px; font-style: italic; color: #999;">
    Note: Both <i>Yongbo Wang</i> and <i>YongBuo Wang</i> are my names.
  </span>
</blockquote> -->
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<div class="solid-line"></div>
<h4>Internship</h4>
<ul>
  <li>
    <strong>Research Intern</strong> | BMI, Chinese Academy of Sciences<br/>
    <strong>Topic:</strong> Natural Language Processing<br/>
    Nov. 2017 - present
  </li>
</ul>


<div class="solid-line"></div>
<h4>Miscellaneous</h4>
<p>
Click <a href="self-evaluation.html"><strong class="color-blue-line">here</strong></a> to see my Skills and Self-evaluation.
</p>
<br/>
<br/>

<div>
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=mFaxT5_Gxs_3AlkQfxb75Y66YQz07F4Hybrv8hHCDmI&co=38aafa&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</div>


